body {
  background: #ff0099;
  background: -webkit-linear-gradient(to right, #493240, #ff0099);
  background: linear-gradient(to right, #493240, #ff0099);
}
.box {
  background: #3C3B3F; 
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F); 
  background: linear-gradient(to right, #605C3C, #3C3B3F); 
  
  );
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#text {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 5px;
}
